.weather-info {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.weather-info > div {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 180px;
    padding: 20px;
}

.weather-info > div > h3 {
    font-size: 1.1rem;
    color: #45505e;
    margin-bottom: 10px;
}

.weather-info > div > p {
    margin: auto 0;
    font-size: 1.6rem;
    font-weight: bold;
    color: #4e53b1;
}

.weather-info > div > .small {
    font-size: 1.4rem;
}