* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.center {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    padding: 1rem;
}

section {
    max-width: 640px;
    width: 100%;
    margin: 1.5em 0;
}

.btn {
    box-sizing: border-box;
    border-radius: .5em;
    border: 1px solid;
    padding: .5em;
    transition: 0.2s;
}

.btn:hover {
    color: #ddd;
    background-color: #222;
    cursor: pointer;
}

#data > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#data > p {
    text-align: center;
}

.like {
    margin: 1em 0 2em 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: darkcyan;
    color: white;
    width: 100%;
    padding: 0.5em 0;
    font-size: 0.8em;
}