<% /* 
  CSC309 Tutorial 8

  You may not change this file!
*/ %>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>CSC309 Tutorial 8</title>
    <script defer src="/static/js/controller.js"></script>
</head>
<body class="center">
    <header>
        <h1>Tutorial 8: Scroll to death</h1>
    </header>
    <main>
        <section>
            <div id="data">
                If you can see this message, infinite scrolling is not working.
            </div>
        </section>
    </main>
    <footer>
        &copy; CSC309 Tutorial 8, Winter 2025.
    </footer>
</body>
</html>